::-webkit-scrollbar {
    height: 6px;     
    width: 0;
    background-color: white;  
    border-radius: 10px;      
}

::-webkit-scrollbar-thumb {
    height: 100%;
    width: 10px;
    background-color: rgb(37, 37, 128);
}

.hourly-forecast-component {
    background-color: rgba(255, 255, 255, 0.4);
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}